* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #ffd9e0;
}

:root {
  --rose-pompadour: #ff7993ff;
  --white: #ffffffff;
  --verdigris: #5ba0a4ff;
  --honeydew: #d5e2d6ff;
  --papaya-whip: #fef1d6ff;
  --sandy-brown: #fea25eff;
}

button img {
  width: 3rem;
  height: 3rem;
  transition: all 0.7s ease-in-out;
  border-radius: 23%;
}

/* HEADER */
header {
  display: flex;
  padding: 2rem;
  width: 100%;
  justify-content: space-between;
  background-color: white;
}

.title,
.add {
  display: flex;
  gap: 1rem;
  align-items: center;
}

header h1 {
  font-size: 3rem;
}

.logo {
  width: 3rem;
  height: 3.5rem;
}

.btn-add,
.btn-close {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.btn-add img:hover {
  transform: translate(0.3rem, -0.3rem);
  box-shadow: -5px 5px 0px 1px rgb(49, 92, 95);
}

.btn-add img:active {
  transform: translate(0.1rem, 0.1rem);
  transition: transform 0.4s ease-in-out;
  box-shadow: -3px 3px 0px 1px rgb(49, 92, 95);
}

.add {
  font-size: 1.5rem;
  padding-right: 1rem;
}

/* WELCOME */
.welcome {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  border-radius: 35px;
  width: min(420px, 40%);
  position: absolute;
  top: 35%;
  left: 33%;
  padding: 2rem;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 1px;
  box-shadow: 0 0 1em rgb(0 0 0/0.2);
}

.welcome h2 {
  padding-bottom: 1rem;
}

.welcome p:first-of-type {
  padding-bottom: 0.4rem;
}

.welcome img {
  height: 2rem;
  width: 2rem;
  vertical-align: middle;
}

/* FORM */

.popup {
  position: absolute;
  top: -150%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  width: 400px;
  padding: 2rem;
  background-color: white;
  border-radius: 35px;
  /* box-shadow: -6px 4px 0px 1px var(--rose-pompadour); */
  transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms,
    transform 20ms ease-in-out 0ms;
  border: 0;
}

.popup::backdrop {
  background: rgb(0 0 0 /0.4);
}

.open-popup {
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
}

.popup .btn-close {
  position: absolute;
  top: 10px;
  right: 15px;
  border-radius: 23%;
}

.popup .btn-close img:hover {
  transform: translate(0.2rem, -0.2rem);
  box-shadow: -4px 4px 0px 1px var(--rose-pompadour);
}

form h2 {
  text-align: center;
  margin: 10px 0 20px;
  /* font-size: 25px; */
}

form .form-element {
  margin: 15px 0;
}

form .form-element input[type="text"],
form .form-element input[type="number"] {
  display: block;
  margin-top: 5px;
  width: 100%;
  padding: 0.6rem;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 1rem;
}

form .form-element input[type="checkbox"] {
  margin-right: 8px;
}

form .form-element button {
  width: 100%;
  height: 3rem;
  border: none;
  outline: none;
  font-size: 15px;
  background-color: var(--verdigris);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

form .form-element button:hover {
  box-shadow: -6px 5px 0px 1px rgb(49, 92, 95);
  transform: translate(0.2rem, -0.2rem);
}

.error {
  display: none;
  color: #be1212;
}

/* BOOK CARDS */
.books {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 270px));
  column-gap: 2.5rem;
  row-gap: 2rem;
}

.card {
  display: grid;
  grid-template-areas:
    "title"
    "author"
    "pages"
    "read"
    "delete";
  background-color: var(--white);
  width: auto;
  height: 240px;
  padding: 1.5rem;
  border-radius: 35px;
  row-gap: 0.5rem;
  align-content: center;
  transition: transform 0.4s ease-in-out;
}

.card h2 {
  grid-area: title;
  font-size: min(1.5rem, 1.8rem);
}

.card .author {
  grid-area: author;
}

.card .pages {
  grid-area: pages;
}

.card .read {
  grid-area: read;
  background-color: var(--sandy-brown);
}

.card .read:hover {
  box-shadow: -3px 3px 0px 1px rgb(210, 123, 60);
}

.card .read:active {
  box-shadow: -1px 1px 0px 1px rgb(210, 123, 60);
}

.card button {
  border: none;
  border-radius: 8px;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.card button:hover {
  transform: translate(0.2em, -0.2em);
}

.card button:active {
  transform: translate(-0.2em, 0.2em);
  transition: all 0.7s ease-in-out;
}

.card .btn-delete {
  grid-area: delete;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
  background-color: var(--rose-pompadour);
}

.card .btn-delete:hover {
  transform: translate(0.2rem, -0.2rem);
  box-shadow: -3px 3px 0px 1px rgb(223, 85, 113);
}

.card .btn-delete:active {
  box-shadow: -1px 1px 0px 1px rgb(223, 85, 113);
}

@media (max-width: 600px) {
  .add h3 {
    display: none;
  }
}
